
body{
    height:500px;
}

h1 , .question , .answer ,  .response , #stopwatch, .end{
    text-align: center;
    margin:10px;
}
h1 {
    margin-top: 200px;
}

#stopwatch {
    color:red;
}

#start{
  margin-left: 47%;    
}

.answer:hover{
    background-color: aqua;
}
.answer{cursor:pointer;}

.gif {
    text-align: center;
}

